* {
    overflow: clip;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 690px auto;
    grid-gap: 30px;
    grid-template-areas:
        "hd hd hd"
        ". mn ."
        "ft ft ft";
}


header {
    display: inline-block;
    grid-area: hd;
}

.hlink {
    color: #3b3b3b;
    font-size: 12px;
    font-family: arial, sans-serif;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
}


main {
    grid-area: mn;
    justify-self: center;
    align-self: center;
}

.sbarcont{
    display: grid;
    width: 600px;
    height: 40px;
    border-style: solid;
    border-color: #f0f0f0;
    border-radius: 40px;
    margin-bottom: 40px;
}

#mag {
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    opacity: 30%;
}

.sbar {
    /*border-radius: 40px;
    margin-top: 15px;
    margin-bottom: 18px;*/
    justify-self: center;
    align-self: start;
    width: 350px;
    font-size: 16px;
    border-style: solid;
    border-color: white;
}


.box {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.sbutton {
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border-style: solid;
    border-color: #f0f0f0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    grid-area: ft;
    background-color: #f0f0f0;
    padding-top: 30px;
    padding-bottom: 28px;
}

.flink {
    color: #3b3b3b;
    font-size: 14px;
    font-family: arial, sans-serif;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
}